* {
  box-sizing:border-box;
}


body {
  margin: 0;
  background-color: antiquewhite;
}

// green: #8AC37B;


.navbar {
  background-color: #5ec3b3;
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  border-bottom: 2px solid grey;
}


.features {
  list-style: none;
  color: floralwhite;
  margin: 0;
  display:flex;
  flex-direction:row;
  gap: 2rem;
  padding: 0 1rem;
}

.navbar a {
  color: floralwhite;
  text-decoration: none;
  height: 100%;
  display:flex;
  align-items: center;
  padding: .25rem;
}

.navbar li:hover {
  background-color: #F1F1F1;
}

.navbar li:active {
  background-color: #555;
}

.title {
  font-size: 46px;
  padding: 5px;
}