.chat {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.chatbox {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 400px;
  width: 600px;
}

.messages {
  background-color: white;
  list-style-type: none
  
}