.card_spot {
  display: flex;
  justify-content: center;
  text-align: center;
 

}

.user_card {
  display:flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.card_text {
  margin-top: 20px;
}

.card_title {
  margin-top: 20px;
}